
body{background-color: black;
     }


h3{color: #ffff;
   text-align: center;
   
   }


.arrangement{height: auto;
             display: flex;
             align-items: center;}



.header{
        height: 100px;
         background-color:rgb(0, 0, 0);
         border: 2px rgb(251, 251, 251) solid;
         width: 100%;
         color: #ffff;}


.btnwidthheight{height: 80px;
                width: 24%;
                background-color: rgb(62, 63, 64);
               color: #ffff;}


.btnwidthheightextra{background-color: rgb(44, 44, 44);
                     height: 80px;
                     width: 24%;
                     color: #ffff;}


.btnwidthheightextras{background-color: rgb(99, 96, 96);
                      height: 80px;
                      width: 24%;
                      color: #ffff;}